<section class="section-consulting">
  <div class="container">
    <div class="wow fadeInUp">
      <h2>{{"Services.Startup_consulting.Title" | translate}}</h2>
      <ul class="breadcrumb" *ngIf="showHeader">
        <li>
          <a [routerLink]="['/home']"
               [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
        </li>
        <li>{{"Services.Startup_consulting.Title" | translate}}</li>
      </ul>
      <div class="grid align-items-center">
        <div class="col-12 md:col-6 text-right">
          <figure>
            <img src="/assets/images/service/img-3.jpg" alt="Startup consulting">
          </figure>
        </div>
        <div class="col-12 md:col-6 p-l-60">
          <ul class="list-elements wow fadeInUp">
            <li>{{"Services.Startup_consulting.Content1" | translate}}</li>
            <li>{{"Services.Startup_consulting.Content2" | translate}}</li>
            <li>{{"Services.Startup_consulting.Content3" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
