<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h2>{{"Header.Blog" | translate}}</h2>
        <ol class="breadcrumb" *ngIf="showHeader">
          <li><a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a></li>
          <li>{{"Header.Blog" | translate}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="blog-with-sidebar-section section-padding">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
