<div class="container">
  <p-menubar [model]="items" #sss>
    <ng-template pTemplate="start">
      <a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}" class="navbar-brand">
        <img src="/assets/images/logo.svg" alt="logo">
      </a>
    </ng-template>
  </p-menubar>
</div>
