<section class="section-accounting">
  <div class="container">
    <h2>{{"Services.Legal_Services.Title" | translate}}</h2>
    <ul class="breadcrumb" *ngIf="showHeader">
      <li><a [routerLink]="['/home']"
             [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a></li>
      <li>{{"Services.Legal_Services.Title" | translate}}</li>
    </ul>
    <div class="wow fadeInUp">
      <div class="grid align-items-center">
        <div class="col-12 md:col-6 text-right">
          <figure>
            <img src="/assets/images/service/img-2.png" alt="Financial and Accounting">
          </figure>
        </div>
        <div class="col-12 md:col-6 p-l-60">
          <ul class="list-elements wow fadeInUp">
            <li>{{"Services.Legal_Services.Content1" | translate}}</li>
            <li>{{"Services.Legal_Services.Content2" | translate}}</li>
            <li>{{"Services.Legal_Services.Content3" | translate}}</li>
            <li>{{"Services.Legal_Services.Content4" | translate}}</li>
            <li>{{"Services.Legal_Services.Content5" | translate}}</li>
            <li>{{"Services.Legal_Services.Content6" | translate}}</li>
            <li>{{"Services.Legal_Services.Content7" | translate}}</li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
