.button-group {
  @include flexbox;

  button {
    ~ button {
      margin-left: 5px;
    }
  }

}

.button-primary {
  @include btn($border: 1px solid $primary);
  @include transition(all 0.3s);
  &:hover {
    transform: translateY(-8px);
    @include box-shadow( 0px 0px 12px rgba(114, 191, 68, 0.5));
  }
}
.button-secondary {
  @include btn($btn-bg: transparent, $border: 1px solid transparent, $btn-text-color: $white);
  &:hover {
    color: $white;
    transform: translateY(-8px);
  }
}
.read-more {
  @include btn($padding1: 7px, $padding2: 8px,  $base-fontsize: $xsfontSize, $border: 1px solid $primary);
}
