.p-carousel {
  .p-carousel-indicators {
    .p-carousel-indicator {
      button {
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        &:focus {
          @include box-shadow(unset);

        }
      }
      &.p-highlight {
        button {
          background-color: $primary;
        }
      }
    }
  }
  .p-carousel-content .p-carousel-prev:enabled:hover,
  .p-carousel-content .p-carousel-next:enabled:hover {
    color: gray;
  }

}
.p-galleria  .p-link:focus ,
.p-carousel button {
  @include box-shadow(none);
}
.owl-stage-outer {

}
.owl-carousel {
  position: relative;
  .owl-stage {
    @include flexbox;
    .owl-item {
      height: unset !important;
      img {
        width: auto;
      }
    }
  }
  .owl-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    @include flexbox;
    @include align-items(center);
    .owl-prev,
    .owl-next {
      position: absolute;
      font-family: 'primeicons';
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 0;
      &:hover {
        background: transparent;
      }
      &:before {
        font-size: 20px;
        color: $base-color;
      }
    }
    .owl-prev {
      left: 7px;
      &:before {
        content: "\e900";
      }
    }
    .owl-next  {
      right: 7px;
      &:before {
        content: "\e901";
      }
    }

  }
  //.owl-nav {
  //  display: none;
  //}

}
