.p-checkbox{
  &:not(.p-checkbox-disabled) {
    .p-checkbox-box {
      &.p-highlight {
        &:hover {
          border-color: #a6a6a6;
          background: transparent;
          color: #ffffff;
        }
      }
      &:hover {
        border-color: #a6a6a6;
      }
    }
  }
  .p-checkbox-box {
    &.p-highlight {
      border-color: #a6a6a6;
      background: transparent;
    }
    .p-checkbox-icon {
      color: $primary;
    }
  }

}
