p-dialog {
  &.dialog-md {
    .p-dialog-mask {
      .p-dialog {
        max-width: 900px;
        border: 1px solid $border-color;
        h5 {
          text-align: left;
          color: $title-color;
          font-weight: 700;
          &:after {
            content: "";
            display: block;
            width: 85px;
            height: 2px;
            background-color: $primary;
            margin: 10px 0 0;
          }
        }
        .p-dialog-header {
          background-color: #eff1f3;
          color: $white;
          @include  border-radius(0);
          padding: 15px 15px 15px 20px;
        }
      }

    }
  }
  .p-dialog {
    .p-dialog-content {
      color: $base-color;
      padding: 25px;
    }
  }
}


