p-dropdown {
  .p-dropdown {
    width: 100%;
    border-color: $border-color;
    @include border-radius(6px);
    &:not(.p-disabled):hover {
      border-color: $border-color;
    }
   .p-dropdown-label {
      padding: 8px 15px;
     &.p-placeholder {
       //background-color: red;
       color: $placeholder-color;
     }
    }
    &:not(.p-disabled).p-focus {
      @include box-shadow(none);
      border-color: $border-color;

    }

  }
}
