.form-control {
  border: 1px solid $border-color;
  background-color: transparent;
  color: $base-color;
  @include border-radius(6px);
  @include placeholder-color($placeholder-color);
  padding: 9px 15px;
  width: 100%;
  font-size: $base-fontsize;
  &:enabled:hover {
    border-color: $border-color;
  }

  &.is-invalid {
    border-color: $danger-color !important;
  }


  &.is-invalid {
    border-color: $danger-color;

  }
}
.form-group {
  margin-bottom: 15px;
  .form-item {
    position: relative;
    > label {
      color: $base-color;
      left: 15px;
    }
    &.p-float-label {
      position: relative;
      > label {
        color: $placeholder-color;
      }
    }
  }

}
form {
  margin-top: 30px;
}

 .p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label,
 .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label {
  //color: red;
  left: 0.429rem;
 }


.form-group .form-control:not(:placeholder-shown) + label{
  left: 0.429rem;
  top: -1.3rem;
  font-size: 12px;
  position: absolute;
  //left: 0.429rem;
  transition-duration: 0.2s;
}

.form-group .form-control:not(:placeholder-shown) + label,
.form-group .form-control:focus + label,
 .form-group .form-control:-webkit-autofill ~ label {
   color: $base-color;
}
