p-multiselect {
  .p-multiselect {
    width: 100%;
    border-color: $border-color;
    @include border-radius(6px);
    &:not(.p-disabled):hover {
      border-color: $border-color;
    }

    .p-multiselect-label {
      padding: 9px 15px;
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .selected-item {
        @include flexbox;
        .length-value {
          color: $title-color;
          font-weight: 700;
          @include  border-radius(50%);
        }
      }
      &.p-placeholder {
        color: $placeholder-color;
      }
    }
  }
}

.p-multiselect-panel {
  .p-multiselect-items {
    .p-multiselect-item {
      color: $base-color;
      border-bottom: 1px solid #cccccc40;
      &:not(.p-highlight){
        &:not(.p-disabled):hover {
          background-color: #eff1f3;
        }
      }
      &.p-highlight {
        background-color: #eff1f3;
        color: $base-color;
        position: relative;
        &:before {
          content: "";
          left: 0;
          width: 3px;
          top: 0;
          bottom: 0;
          background-color: $primary;
          position: absolute;
        }
      }
      .p-ink {
        display: none;

      }
    }
    .p-multiselect-item:focus {
      @include box-shadow(none);
    }
    .p-multiselect-empty-message {
      color: $light-color2;
    }
  }
}

.p-inputtext {
  @include placeholder-color($placeholder-color);
  &:enabled {
    border-color: $border-color;
    &:focus {
      @include box-shadow(none);
      border-color: $border-color;
    }
    &:hover {
      border-color: $border-color;
    }
  }
}

