@import 'src/scss/variables';
@import 'src/scss/mixins';

.section-why {
  padding: 0;

  .bg-img {
    background-image: url(/assets/images/bg/aaa.jpg);
    padding: 50px 0 85px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: $white;
    z-index: 0;

    h2 {
      margin-bottom: 0;
      color: $white;
    }

    &:after {
      @extend %layer;
    }
  }

  .why-wrapper {
    @include flexbox;
    background: $white;
    padding: 30px;
    box-shadow: 0px 5px 18px -9px rgb(0 0 0 / 14%);
    max-width: 1110px;
    margin: -50px auto auto auto;
    position: relative;


    .item {
      @include flex-value(1);
      min-width: 0;
      text-align: center;

      span {
        font-size: 32px;
        font-weight: 500;
        position: relative;
        color: $title-color;

        &:after {
          position: absolute;
          bottom: -2px;
          left: 0;
          content: '';
          width: 35px;
          height: 2px;
          background: $primary;
        }
      }

      p {
        margin-top: 15px;
      }
    }
    @media screen and (max-width: 767px) {
      @include flex-direction(column);
      .item {
        text-align: left;
      }
    }
  }
}

.section-partners {
  overflow: hidden;
}
owl-carousel-o {
  display: block;
  margin-top: 60px;
  ::ng-deep {
    .owl-carousel {
      .owl-stage {
        @include align-items(center);
        img {
          margin: auto;
        }
      }
      .owl-nav {
        display: none;
      }
      .owl-dots {
        margin-top: 10px;
        display: none;
      }
    }
  }



}

.section-partners-text {
  overflow: hidden;

  img {
    max-height: 420px;
  }

}
@media screen and (max-width: 767px) {
  .section-partners-text {
    figure {
      margin: 10px 0 0px 0;
    }
  }

}
