<section class="section-why" *ngIf="!showHeader">
  <div class="bg-img">
    <div class="container">
      <h2>{{"WhyUs.Title" | translate}}</h2>
    </div>
  </div>
  <div class="container">
    <div class="why-wrapper">
      <div class="item">
        <span class="number">10+</span>
        <p>{{"WhyUs.Content1" | translate}}</p>
      </div>
      <div class="item">
        <span class="number">90+</span>
        <p>{{"WhyUs.Content2" | translate}}</p>
      </div>
      <div class="item">
        <span class="number">70+</span>
        <p>{{"WhyUs.Content3" | translate}}</p>
      </div>
      <div class="item">
        <span class="number">16+</span>
        <p>{{"WhyUs.Content4" | translate}}</p>
      </div>
    </div>
  </div>
</section>

<section class="section-partners">
  <div class="container">
    <div class=" wow fadeInUp" *ngIf="showHeader">
      <ul class="breadcrumb">
        <li>
          <a [routerLink]="['/home']"
               [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
        </li>
        <li>{{"Header.Partners" | translate}}</li>
      </ul>
    </div>
    <h2>{{"Header.Partners" | translate}}</h2>
    <p class="text-center light-color">{{"Partners.Title" | translate}}</p>

    <owl-carousel-o [options]="options">
      <ng-container *ngFor="let partner of partners">
        <ng-template carouselSlide>
          <a [href]="partner.link" target="_blank" *ngIf="partner.link">
            <img [src]="partner.src" alt="">
          </a>
          <img [src]="partner.src" alt *ngIf="!partner.link">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
<section class="section-partners-text" *ngIf="showHeader">
  <div class="container">
    <div class="grid align-item-center">
      <div class="col-12 md:col-5 p-r-60">
        <p class="wow slideInRight">{{"Partners.Content1" | translate}}</p>
        <p class="wow slideInRight">{{"Partners.Content2" | translate}}</p>
        <p class="wow slideInRight">{{"Partners.Content3" | translate}}</p>
      </div>
      <div class="col-12 md:col-7">
        <figure class="left">
        <img src="/assets/images/slider/img3.jpg" alt="" class="wow fadeInUp">
        </figure>
      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>
