<section class="section-accounting">
  <div class="container">
    <h2>{{"Services.Financial_and_Accounting.Title" | translate}}</h2>
    <ul class="breadcrumb" *ngIf="showHeader">
      <li>
        <a [routerLink]="['/home']"
             [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
      </li>
      <li>{{"Services.Financial_and_Accounting.Title" | translate}}</li>
    </ul>
    <div class="wow fadeInUp">
      <h3>{{"Services.Financial_and_Accounting.Title" | translate}}</h3>
      <p>{{"Services.Financial_and_Accounting.Content1" | translate}}</p>
      <div class="grid align-items-center">
        <div class="col-12 md:col-6 text-right">
          <figure>
            <img src="/assets/images/service/img-2.jpg" alt="Financial and Accounting">
          </figure>
        </div>
        <div class="col-12 md:col-6 p-l-60">
          <ul class="list-elements wow fadeInUp">
            <li>{{"Services.Financial_and_Accounting.Risk1" | translate}}</li>
            <li>{{"Services.Financial_and_Accounting.Risk2" | translate}}</li>
            <li>{{"Services.Financial_and_Accounting.Risk3" | translate}}</li>
            <li>{{"Services.Financial_and_Accounting.Risk4" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
