* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: $font-family;

}

html,
body {
  min-height: 100vh;
  color: $base-color;
  font-size: $base-fontsize;
}

img {
  max-width: 100%;
  object-position: top;
  object-fit: cover;
}

body {
  background: $bg-color;
  font-size: $base-fontsize;
}

textarea {
  resize: none;

  &:hover,
  &:focus {
    outline: 0;
  }
}
.p-0 {
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  caret-color: $white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $bg-color inset !important;
  -webkit-text-fill-color: $base-color;
}

a,
button,
a:focus,
a,
button,
a:hover,
button:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: 0 !important;
  @include box-shadow(none !important) ;
}

input {
  &:hover,
  &:focus {
    outline: 0;
  }
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

h1, h2 {
  text-transform: capitalize;
}

h1,h2,h3,h4,h5,h6 {
  color: $title-color;
}


h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 700;
}
h3 {
  font-size: 22px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
  font-weight: 600;

  &.title-border {
    margin: 17px 0px 35px;

    &:before {
      content: "";
      width: 30px;
      border: 1px solid $base-color;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
}

.text-center {
  text-align: center;
}

a, button {
  @include transition(all .15s);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  //&:disabled {
  //  cursor: no-drop;
  //}
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}


.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clearfix {
  clear: both;
}

.m-t {
  &-auto {
    margin-top: auto;
  }

  &-10 {
    margin-top: 10px;
  }

  &-15 {
    margin-top: 15px;
  }

  &-20 {
    margin-top: 20px;
  }

  &-22 {
    margin-top: 22px;
  }

  &-25 {
    margin-top: 25px;
  }

  &-30 {
    margin-top: 30px;
  }

  &-50 {
    margin-top: 50px;
  }
}

.m-b {
  &-0 {
    margin-bottom: 0 !important;
  }

  &-10 {
    margin-bottom: 10px;
  }

  &-20 {
    margin-bottom: 20px;
  }

  &-30 {
    margin-bottom: 30px;
  }

  &-40 {
    margin-bottom: 40px;
  }

  &-50 {
    margin-bottom: 50px;
  }

  &-70 {
    margin-bottom: 70px;
  }

  &-80 {
    margin-bottom: 80px;
  }
}

.m-r {
  &-180 {
    margin-right: 180px;
  }

  &-auto {
    margin-right: auto;
  }
}

.m-l {
  &-auto {
    margin-left: auto;
  }

  &-10 {
    margin-left: 10px;
  }
}

.flex {
  &-min {
    @include flex-value(1);
    min-width: 180px;
    max-width: 33.333%;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);

    &.min-w-110 {
      min-width: 110px;
    }
  }

  &-1 {
    @include flex-value(1);
    min-width: 0;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-91 {
    min-width: 91px;
    max-width: 91px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-130 {
    min-width: 130px;
    max-width: 130px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-136 {
    min-width: 136px;
    max-width: 136px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-150 {
    min-width: 150px;
    max-width: 150px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-250 {
    @include flex-value(1);
    min-width: 250px;
    max-width: 250px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-300 {
    @include flex-value(1);
    min-width: 300px;
    max-width: 300px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
  &-350 {
    @include flex-value(1);
    min-width: 350px;
    max-width: 350px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }

}


.flex-wrap {
  @include flex-wrap(wrap);
}

.d-flex {
  @include flexbox();
  @include flex-wrap(wrap);
}

.align-self-center {
  @include align-self(center);
}

.align-item-center {
  @include align-items(center);
}

.justify-content-center {
  @include justify-content(center);
}

.justify-content-around {
  @include justify-content(space-around);
}

.justify-space-between {
  @include justify-content(space-between);
}

.flex-grow-1 {
  @include flex-grow(1);
}

.justify-content-end {
  @include justify-content(flex-end);
}

.fl-start {
  @include justify-content(flex-start);
}


.flex-auto {
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  min-width: 0;
  @include flex-value(unset !important);
}

.flexdirection-column {
  @include flex-direction(column);
}

.row {
  .col {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.no-wrap {
  @include flex-wrap(nowrap);
}

.align-self-end {
  @include align-self(flex-end);
}

.align-self-start {
  @include align-self(start);
}

::selection {
  background: #d6d6d6 !important;
}

.max-width {
  &-500 {
    max-width: 500px;
  }
}

.line-clamp {
  &-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.ellipsis-txt {
  @include flex-value(1);
  min-width: 0;
  @extend %ellips;
}

.txt-baseop7 {
  color: $base-op7;
}
.txt-op7 {
 color: $base-op7;
}
.list-disk {
  list-style: disk;
}


p {
  ~p {
    margin-top: 10px;
  }
}
.p-l-30 {
  padding-left: 30px;
}
.p-l-50 {
  padding-left: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
.p-l-60 {
  padding-left: 60px;
}
.p-r-60 {
  padding-right: 60px;

}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
}
