@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?gnxyps');
  src:  url('../../assets/fonts/icomoon.eot?gnxyps#iefix') format('embedded-opentype'),
  url('../../assets/fonts/icomoon.ttf?gnxyps') format('truetype'),
  url('../../assets/fonts/icomoon.woff?gnxyps') format('woff'),
  url('../../assets/fonts/icomoon.svg?gnxyps#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social:before {
  content: "\e90e";
}
.icon-quote:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e906";
}
.icon-facebook2:before {
  content: "\e907";
}
.icon-linkedin1:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-portfolio:before {
  content: "\e909";
}
.icon-legal-services:before {
  content: "\e900";
}
.icon-tax:before {
  content: "\e901";
}
.icon-business-relocation:before {
  content: "\e902";
}
.icon-handshake:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e90f";
}
