.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 25px;
}
.p-ink {
  display: none;
}
.light-color {
  color: gray;
}
.title-list-elements {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  color: $title-color;
}
section {
  padding: $section-lg-padding 0px;

  &.secction-baner {
    padding: 0;
  }

  h2 {
    text-align: center;

    &:after {
      content: "";
      display: block;
      width: 85px;
      height: 2px;
      background-color: $primary;
      margin: 15px auto 0;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  p {
    line-height: 1.4;
  }

  .nav-tab {
    @include flexbox;
    @include justify-content(center);
    margin-bottom: 60px;
    font-weight: 600;
    font-size: $lgFontSize;

    li {
      color: $title-color;
      padding: 3px 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $primary;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &.section-mission {
    overflow: hidden;

    img {
      max-height: 420px;
    }
  }
}

.p-galleria-item-nav {
  z-index: 1;
}

.breadcrumb {
  @include flexbox;
  @include justify-content(center);
  @include flex-wrap(wrap);
  color: $title-color;
  margin: 0px 0 50px 0;

  li {
    a {
      color: $primary;
    }

    ~ li {
      margin-left: 10px;

      &:before {
        content: "/";
        padding-right: 10px;
      }
    }
  }
}

.list-elements {

  li {
    @include flexbox;
    @include align-items(center);
    line-height: 1.3;

    &:before {
      content: "\e90c";
      font-family: 'icomoon' !important;
      @include border-radius(50%);
      margin: 5px 15px 0 0;
      color: $primary;
      font-size: 11px;
    }

    ~ li {
      margin-top: 15px;
    }
  }
}

.section-accounting {
  img {
    max-height: 420px;
  }
}

figure {
  position: relative;

  &:after {
    width: 300px;
    height: 300px;
    content: "";
    z-index: -1;
    @include border-radius(50%);
    position: absolute;
    bottom: -60px;
    right: -60px;
    background: #f8f9fa;
  }

  &.left {
    &:after {
      left: -60px;
    }
  }
}
@media screen and (max-width: 991px) {

  .col-12 {
    &.p-l-60 {
      padding-left: 20px;
    }

  }

}
@media screen and (max-width: 767px) {
  section {
    padding: $section-sm-padding 0px;
     .nav-tab {
       @include flex-direction(column);
       @include align-items(center);
       margin-bottom: 40px;
     }
    figure {
      margin-bottom: 10px;
      &:after {
        display: none;
      }
    }
  }
  .col-12 {
    &.text-right {
      text-align: left !important;
    }
  }

}
