app-header {
  background: #0f1d2b;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: block;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
  .p-menubar {
    border: 0;
    color: $base-color;
    @include border-radius(0);
    background-color: #0f1d2b;

    .p-menubar-root-list  {
      > .p-menuitem {
        > .p-menuitem-link {
          //color: $base-color;
          color: #fff;
          font-weight: 600;
          padding: 16px 20px;
          .p-ink {
            display: none !important;

          }

          span {
            //color: $base-color;
            &.p-menuitem-text {
              color: #fff;
            }

          }
          .p-submenu-icon {
            color: #fff;
        }

          &:not(.p-disabled):hover {
            background-color: transparent;
            .p-menuitem-text {
              color: #fff;
              //opacity: 0.7;
            }
          }
          &։hover {
            background-color: transparent;
            //.p-menuitem-text {
            //  color: $base-color;
            //  opacity: 0.7;
            //  //color: $primary;
            //}
          }

          &:focus {
            @include box-shadow(unset);

          }
          .p-menuitem-icon {
            &:before {
              background-size: 20px 20px !important;
              content: "";
              width: 20px;
              height: 20px;
              display: block;
            }
            &.arm {
              &:before {
                background-image: url(/assets/images/lang/arm.svg);
              }
            }
            &.eng {
              &:before {
                background-image: url(/assets/images/lang/eng.svg);
              }

            }
            &.rus {
              &:before {
                background-image: url(/assets/images/lang/rus.svg);
              }
            }
          }
          &:not(.p-disabled):hover .p-submenu-icon {
            color: #fff;

          }
          &.p-menuitem-link-active {
            span.p-menuitem-text {
              color: $primary;
              &:hover {
                color: $primary;
              }
            }
            &:hover {
              span.p-menuitem-text {
                color: $primary;
              }
            }
          }

        }

        &:last-child {
          .p-menuitem-link {
            padding-right: 0;
          }
          .p-submenu-list {
            width: 50px;
            right: 0;
          }
        }
        &.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
          background-color: transparent;
        }
        &.p-menuitem-active {
          > .p-menuitem-link {
            .p-menuitem-text {
              color: #fff;
            }
            &:not(.p-disabled):hover {
              .p-menuitem-text {
                color: #fff;
              }

              .p-submenu-icon {
                color: #fff;
              }
            }
          }
        }


      }
      .p-menuitem.p-menuitem-active {
        > .p-menuitem-link,
        .p-menubar .p-menubar-root-list
        > .p-menuitem.p-menuitem-active
        > .p-menuitem-link:not(.p-disabled):hover {
          background-color: transparent !important;

        }

      }

    }
    .p-submenu-list {
      border: 0;

      @include box-shadow(0px 3px 15px 0px rgb(0 0 0 / 5%));
      .p-menuitem {
        border-bottom: 1px solid #cccccc40;


        >.p-menuitem-link {
          padding: 10px 15px;
          .p-menuitem-text {
            color: $base-color;
          }
          &:hover {
            background-color: #eff1f3 !IMPORTANT;
          }
          &:focus {
            @include box-shadow(unset);

          }

        }
        &.p-menuitem-active {
          >.p-menuitem-link {
            .p-menuitem-text {
              //color: $primary;
            }
          }
        }
      }
      .lang  {

        &:before {
          background-size: 20px 20px !important;
          content: "";
          width: 20px;
          height: 20px;
          display: block;
        }
        &.arm {
          &:before {
            background-image: url(/assets/images/lang/arm.svg);
          }
        }
        &.eng {
          &:before {
            background-image: url(/assets/images/lang/eng.svg);
          }

        }
        &.rus {
          &:before {
            background-image: url(/assets/images/lang/rus.svg);
          }

        }
      }

    }

  }
  p-menubarsub {
    margin-left: auto;
  }
}
.p-menubar-end {
  display: none;
}
app-header .navbar-brand  {
 @include flexbox;
  img {
   max-height: 35px;
  }
}


@media screen and (max-width: 960px) {

  app-header {
    .container {
      padding: 0;
    }
    .p-menubar-start {
      @include  flex-value(1);
      min-width: 0;
    }
    .p-menubar {
      @include flex-wrap(wrap);
      padding: 10px 20px;
      .p-menubar-button {
        color: #fff;
        min-width: 50%;
        @include justify-content(flex-end);
        &:hover {
          color: #fff;
          background: transparent;
        }
      }
      p-menubarsub {
        display: none;
      }
      &.p-menubar-mobile-active {
        p-menubarsub {
          display: block;
        }
      }
      .p-menubar-root-list {
        background-color: #0f1d2b;
        border-color: #0f1d2b;
        //height: calc(100vh - 49px);
        max-height: 100vh;
        overflow-x: auto;
        > .p-menuitem:last-child .p-menuitem-link {
          padding-right: 20px;
        }
      }
      .p-submenu-list {
        background-color: #0f1d2b;
        padding-left: 30px;
        .p-menuitem {
          border-bottom: 0;
          > .p-menuitem-link:hover {
            background-color: #eff1f321 !important;
          }
        }

      }
    }
  }

}

