@import 'src/scss/variables';
@import 'src/scss/mixins';

.section-testimonials {
  overflow: hidden;
}
owl-carousel-o {
  ::ng-deep {
    .owl-carousel {
      .owl-item {
        padding: 1px 3px;
      }
      .owl-stage-outer {
        padding-top: 20px;
      }
    }
  }
}


h6 {
  margin: 15px 0 0px;
}

.client-post {
  color: $primary;
}

.read-more {
  margin-top: 20px;
  display: inline-block;
}
.partner-wrapper {
  border: 2px solid rgb(0 0 0 / 8%);
  padding: 26px 20px 20px 20px;
  height: 100%;
  position: relative;
  @include flexbox;

  &:before {
    content: "";
    position: absolute;
    content: "\e90d";
    font-family: 'icomoon' !important;
    color: $primary;
    font-size: 40px;
    @include flexbox;
    @include  justify-content(center);
    left: 0;
    right: 0;
    top: -25px;
  }

  .client-pic {
    min-width: 90px;
    img {
      width: 90px;
      height: 90px;
      @include border-radius(50%);
    }
  }

  .text-wrapper {
    padding-left: 25px;
    @include flex-value(1);
    min-width: 0;
  }
}
.section-relocation {
  overflow: hidden;
  padding-bottom: $section-lg-padding;

  img {
    max-height: 420px;
  }
}
@media screen and (max-width: 768px) {
  .section-testimonials {
    padding-top: 15px;
  }
  .section-relocation {
    padding-bottom: $section-sm-padding;
  }
  .partner-wrapper {
    @include flex-direction(column);
    .client-pic {
      margin-bottom: 10px;
      img {
        margin: auto;
      }

    }

  }
}

