<div class="section-relocation" *ngIf="!showHeader">
  <div class="container">
    <div class="grid align-item-center">
      <div class="col-12 md:col-7 text-right">
        <figure>
          <img src="/assets/images/slider/img3.jpg" alt="" class="wow fadeInUp">
        </figure>
      </div>
      <div class="col-12 md:col-5 p-l-60">
        <p class="wow slideInRight">{{"Relocation.Content" | translate}}</p>
      </div>
    </div>
  </div>
</div>
<section class="section-testimonials">
  <div class="container">
    <h2>{{"Header.Testimonials" | translate}}</h2>

    <owl-carousel-o [options]="options">
      <ng-container *ngFor="let testimonial of testimonials">
        <ng-template carouselSlide>
          <div class="partner-wrapper">
            <div class="client-pic">
              <img [src]="testimonial.src" alt="">
            </div>
            <div class="text-wrapper">
              <p>{{testimonial.description | translate}}</p>
              <p *ngIf="testimonial.id===6 || testimonial.id===8">{{testimonial.moreDescription | translate}}</p>
              <h6>{{testimonial.name | translate}}</h6>
              <p class="client-post">{{testimonial.position | translate}}</p>
              <!--            <p *ngIf="partner.showMoreData">{{partner.moreDescription | translate}}</p>-->
              <!--            <div *ngIf="partner.showReadMoreButton">-->
              <!--              <a class="read-more" (click)=readMore(partner.id)>{{"Read_More" | translate}}</a>-->
              <!--            </div>-->
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
