<section class="secction-baner">
  <p-galleria [value]="slideImages" [responsiveOptions]="responsiveOptions" [numVisible]="2" [showItemNavigators]="true"
              [circular]="true" [autoPlay]="true" [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.path" [alt]="item.alt"/>
      <div class="slider-text">
        <h1>{{item.title | translate}}</h1>
        <div class="button-group" *ngIf="item.id===3">
          <button type="button" (click)="openPopup($event)"
                  class="button-primary">{{"Header.Slide.Button2" | translate}}</button>
        </div>
      </div>
    </ng-template>
  </p-galleria>
</section>

<section class="section-mission">
  <div class="container">
    <ul class="nav-tab">
      <li *ngFor="let navItem of navBarData; let i = index;" (click)="changeContent($event, navItem.index)"
          class="{{selectedItem===i+1 ? 'active' : ''}}">{{navItem.title | translate}}</li>
    </ul>
    <div class="grid align-item-center">
      <div class="col-12 md:col-7 text-right">
        <figure>
          <img [src]="navBarData[selectedItem-1].src" alt=""  class="wow fadeInUp">
        </figure>
      </div>
      <div class="col-12 md:col-5 p-l-60">
        <h6 class="title-list-elements">{{(navBarData[selectedItem-1].contentTitle) | translate}}</h6>
        <ul class="list-elements">
          <li  class="wow slideInRight"  *ngFor="let item of navBarData[selectedItem-1].content">{{item | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-servise">
  <div class="container">
    <h2 class="wow fadeInUp" data-wow-delay="0.1s">{{"Services.Title" | translate}}</h2>
      <div class="grid panel-wrapper  wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-12 md:col-6 lg:col-3">
          <div class="panel">
            <em class="icon-portfolio"></em>
            <h6>{{"Services.Tax_accounting.Title" | translate}}</h6>
            <a [routerLink]="['/services']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more ">{{"Read_More" | translate}}</a>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="panel">
            <em class="icon-legal-services"></em>
            <h6>{{"Services.Legal_Services.Title" | translate}}</h6>
            <a [routerLink]="['/services/legal-services']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="panel">
            <em class="icon-tax"></em>
            <h6>{{"Services.Startup_consulting.Title" | translate}}</h6>
            <a [routerLink]="['/services/startup-consulting']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <div class="panel">
            <em class="icon-business-relocation"></em>
            <h6>{{"Services.Other_related.Title" | translate}}</h6>
            <a [routerLink]="['/services/relocation']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
          </div>
        </div>
      </div>
  </div>
</section>
<app-partners></app-partners>
<!--<section class="page-title">-->
<!--  <div class="container">-->
<!--    <div class="row wow fadeInUp" data-wow-delay="0.1s">-->
<!--      <div class="col col-xs-12">-->
<!--        <h2>{{"Header.Blog" | translate}}</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="blog-section section-padding">-->
<!--  <div class="container">-->
<!--    <app-blog [showArchive]="showHeader"></app-blog>-->
<!--  </div>-->
<!--</section>-->


