@import 'src/scss/variables';
@import 'src/scss/mixins';

.panel-wrapper {
  margin-top: 40px;
  @extend %lg-grid;
}
.secction-baner {
  overflow: hidden;
  position: relative;

  .button-group {
    margin-top: 30px;
    button {
      margin: auto;
    }
  }

  &:before {
    content: "";
    @extend %bg-layer;
  }

  p-galleria {
    position: relative;
    overflow: hidden;
    height: calc( 100vh - 66px);
    ::ng-deep .p-galleria-item-container {
      height: calc( 100vh - 66px);
    }

    .slider-text {
      position: absolute;
      z-index: 1;
      color: #fff;
      background-color: #0000006B;
      padding: 40px;
      @include border-radius(7px);
      max-width: 580px;
      width: 100%;
      background: #00000070;
      padding: 20px;
      text-align: center;
      h1 {
        color: $white;
      }

    }
  }

  ::ng-deep {
    .p-galleria-item {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}


.section-servise {
  .panel {
    background: $primary2;
    padding: 40px;
    height: 100%;
    text-align: center;
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    transition: all 0.3s ease;
    //@include box-shadow(0 19px 38px rgb(0 0 0 / 10%), 0 15px 12px rgb(0 0 0 / 2%));
    &:hover {
      //background-color: #ADCE74;
      background-color:$primary2-hover;
      .read-more {
        background-color: $white;
        color: #ADCE74;
      }
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 50px 0;
      border-color: transparent $white transparent transparent;
    }
    em {
      color: $primary;
      font-size: 30px;
    }
  }

  h6 {
    margin: 20px 0;
    font-size: 15px;
  }

  .read-more {
    margin-top: auto;
    @include align-self(center);
  }

}
@media screen and (max-width: 960px) {
  .secction-baner p-galleria {
    ::ng-deep {
      .p-galleria-item-container {
        height: unset;
      }
    }
  }
}

