<section class="blog-with-sidebar-section blog-single-content section-padding header-blog">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="news-grids col-sm-12">
        <div class="post">
          <div class="post-title-meta">
            <h2 *ngIf="contentIndex === 1">{{"Blog.Details.Header1" | translate}}</h2>
            <h2 *ngIf="contentIndex === 2">{{"Blog.Details.Header2" | translate}}</h2>
            <h2 *ngIf="contentIndex === 3">{{"Blog.Details.Header3" | translate}}</h2>
            <h2 *ngIf="contentIndex === 4">{{"Blog.Details.Header4" | translate}}</h2>
            <h2 *ngIf="contentIndex === 5">{{"Blog.Details.Header5" | translate}}</h2>
            <h2 *ngIf="contentIndex === 6">{{"Blog.Details.Header6" | translate}}</h2>
            <ul class="meta-info">
              <li *ngIf="contentIndex === 1"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date1" | translate}}</li>
              <li *ngIf="contentIndex === 2"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date2" | translate}}</li>
              <li *ngIf="contentIndex === 3"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date3" | translate}}</li>
              <li *ngIf="contentIndex === 4"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date4" | translate}}</li>
              <li *ngIf="contentIndex === 5"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date5" | translate}}</li>
              <li *ngIf="contentIndex === 6"><i class="fa fa-clock-o"></i>{{"Blog.Details.Date6" | translate}}</li>
            </ul>
          </div>
          <div class="post-body">
            <p *ngIf="contentIndex === 1">{{"Blog.Details.Content1" | translate}}</p>
            <p *ngIf="contentIndex === 2">{{"Blog.Details.Content2" | translate}}</p>
            <p *ngIf="contentIndex === 3">{{"Blog.Details.Content3" | translate}}</p>
            <p *ngIf="contentIndex === 4">{{"Blog.Details.Content4" | translate}}</p>
            <h4 *ngIf="contentIndex === 4">{{"Blog.Details.Content41" | translate}}</h4>
            <p *ngIf="contentIndex === 5">{{"Blog.Details.Content5" | translate}}</p>
            <p *ngIf="contentIndex === 6">{{"Blog.Details.Content6" | translate}}</p>
            <code *ngIf="contentIndex === 6">Դրամաշնորհ = (աշխատակիցների աշխատավարձերի հանրագումարն / Աշխատակիցների քանակ) * (Աշխատակիցների քանակ / 5)</code>
            <div class="gallery">
              <div class="img-holder">
                <img src="/assets/images/blog-single/img-product_1.jpg" alt *ngIf="contentIndex === 1">
                <img src="/assets/images/blog-single/img-trip-1.jpeg" alt *ngIf="contentIndex === 2">
                <img src="/assets/images/blog-single/img-1-salary.png" alt *ngIf="contentIndex === 3">
                <img src="/assets/images/blog-single/img-1-penalty.png" alt *ngIf="contentIndex === 4">
                <img src="/assets/images/blog-single/img-5-it_1.png" alt *ngIf="contentIndex === 5">
                <img src="/assets/images/blog-single/img-support_1.png" alt *ngIf="contentIndex === 6">
              </div>
            </div>
            <h4 *ngIf="contentIndex === 1">{{"Blog.Details.Content1_Header" | translate}}</h4>
            <h4 *ngIf="contentIndex === 2">{{"Blog.Details.Content2_Header" | translate}}</h4>
            <p *ngIf="contentIndex === 3">{{"Blog.Details.Content3_Header" | translate}}</p>
            <h4 *ngIf="contentIndex === 4">{{"Blog.Details.Content4_Header" | translate}}</h4>

            <div class="gallery-post">
              <p *ngIf="contentIndex === 2">{{"Blog.Details.Content1_Title" | translate}}</p>
              <h4 *ngIf="contentIndex === 3">{{"Blog.Details.Content3_Title1" | translate}}</h4>
              <ul *ngIf="contentIndex === 3">
                <li>{{"Blog.Details.Content3_Title31" | translate}}</li>
              </ul>
              <h4 *ngIf="contentIndex === 3">{{"Blog.Details.Content3_Title2" | translate}}</h4>
              <ul *ngIf="contentIndex === 3">
                <li>{{"Blog.Details.Content3_Title32" | translate}}</li>
              </ul>
              <h4 *ngIf="contentIndex === 3">{{"Blog.Details.Content3_Title3" | translate}}</h4>
              <ul *ngIf="contentIndex === 3">
                <li>{{"Blog.Details.Content3_Title33" | translate}}</li>
              </ul>
              <p *ngIf="contentIndex === 4">{{"Blog.Details.Content4_Title" | translate}}</p>
              <p *ngIf="contentIndex === 5">{{"Blog.Details.Content5_Header" | translate}}</p>
              <ol *ngIf="contentIndex === 1">
                <li>{{"Blog.Details.Content1_Title1" | translate}}</li>
                <li>{{"Blog.Details.Content1_Title2" | translate}}</li>
                <li>{{"Blog.Details.Content1_Title3" | translate}}</li>
                <li>{{"Blog.Details.Content1_Title4" | translate}}</li>
              </ol>
              <ol *ngIf="contentIndex === 4">
                <li>{{"Blog.Details.Content4_Title1" | translate}}</li>
                <li>{{"Blog.Details.Content4_Title2" | translate}}</li>
                <li>{{"Blog.Details.Content4_Title3" | translate}}</li>
                <li>{{"Blog.Details.Content4_Title4" | translate}}</li>
              </ol>
              <p *ngIf="contentIndex === 6">{{"Blog.Details.Content6_Header" | translate}}</p>
              <p *ngIf="contentIndex === 6">{{"Blog.Details.Content6_Title" | translate}}</p>
              <ul *ngIf="contentIndex === 6">
                <li>{{"Blog.Details.Content6_Title1" | translate}}</li>
                <li>{{"Blog.Details.Content6_Title2" | translate}}</li>
                <li>{{"Blog.Details.Content6_Title3" | translate}}</li>
              </ul>
              <p *ngIf="contentIndex === 6">{{"Blog.Details.Content61_Title" | translate}}</p>
              <p *ngIf="contentIndex === 6">{{"Blog.Details.Content62_Title" | translate}}</p>
            </div>

            <div class="gallery">
              <div class="img-holder">
                <img src="/assets/images/blog-single/img-product_2.jpg" alt *ngIf="contentIndex === 1">
                <img src="/assets/images/blog-single/img-trip-2.jpeg" alt *ngIf="contentIndex === 2">
                <img src="/assets/images/blog-single/img-2-salary.png" alt *ngIf="contentIndex === 3">
                <img src="/assets/images/blog-single/img-2-penalty.png" alt *ngIf="contentIndex === 4">
                <img src="/assets/images/blog-single/img-5-it_2.png" alt *ngIf="contentIndex === 5">
                <img src="/assets/images/blog-single/img-support_2.png" alt *ngIf="contentIndex === 6">
              </div>
            </div>

            <div class="text-post">
              <h4 *ngIf="contentIndex === 2">{{"Blog.Details.Content2_Footer_Title" | translate}}</h4>
              <h5 *ngIf="contentIndex === 3">{{"Blog.Details.Content3_Footer_Title" | translate}}</h5>
              <h3 *ngIf="contentIndex === 1">{{"Blog.Details.Content1_Footer" | translate}}</h3>
              <div class="gallery-post" *ngIf="contentIndex === 2">
                <p>{{"Blog.Details.Content2_Footer" | translate}}</p>
              </div>
              <div *ngIf="contentIndex === 3">
                <a href="https://bit.ly/3aZtdUC" target="_blank">{{"Blog.Details.Content3_Footer" | translate}}</a>
              </div>
              <div *ngIf="contentIndex === 4">
                <a href="http://tiny.cc/sn4tlz" target="_blank">{{"Blog.Details.Content4_Footer" | translate}}</a>
              </div>
              <div *ngIf="contentIndex === 4">
                <a href="http://tiny.cc/gd4tlz" target="_blank">{{"Blog.Details.Content41_Footer" | translate}}</a>
              </div>
              <div class="gallery-post" *ngIf="contentIndex === 5">
                <p>{{"Blog.Details.Content5_Footer" | translate}}</p>
              </div>
              <div *ngIf="contentIndex === 5">
                <a href="https://bit.ly/3d6XSS2" target="_blank">{{"Blog.Details.Content51_Footer" | translate}}</a>
              </div>
              <div class="gallery-post" *ngIf="contentIndex === 6">
                <p>{{"Blog.Details.Content6_Footer1" | translate}}</p>
              </div>
              <div *ngIf="contentIndex === 6">
                <p>{{"Blog.Details.Content6_Footer2" | translate}}</p>
                <p>{{"Blog.Details.Content6_Footer3" | translate}}</p>
                <p>{{"Blog.Details.Content6_Footer4" | translate}}</p>
                <ol>
                  <li>{{"Blog.Details.Content6_Footer41" | translate}}</li>
                  <li>{{"Blog.Details.Content6_Footer42" | translate}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
