<div class="blog-sidebar ">
  <div class="widget archive-widget">
    <h3 (click)="onClick()">Արխիվ</h3>
    <ul *ngIf="showArchive">
      <li><a>Օգոստոս 2020 <span class="badge">5</span></a></li>
      <li><a>Հուլիս 2020 <span class="badge">5</span></a></li>
      <li><a>Հունիս 2020 <span class="badge">8</span></a></li>
      <li><a>Մայիս 2020 <span class="badge">8</span></a></li>
      <li><a>Ապրիլ 2020 <span class="badge">8</span></a></li>
      <li><a>Մարտ 2020 <span class="badge">5</span></a></li>
      <li><a>Փետրվար 2020 <span class="badge">7</span></a></li>
      <li><a>Հունվար 2020 <span class="badge">1</span></a></li>
      <li><a>Դեկտեմբեր 2019 <span class="badge">2</span></a></li>
      <li><a>Նոյեմբեր 2019 <span class="badge">3</span></a></li>
      <li><a>Հոկտեմբեր 2019 <span class="badge">2</span></a></li>
      <li><a>Սեպտեմբեր 2019 <span class="badge">4</span></a></li>
      <li><a>Օգոստոս 2019 <span class="badge">5</span></a></li>
      <li><a>Հուլիս 2019 <span class="badge">2</span></a></li>
      <li><a>Հունիս 2019 <span class="badge">4</span></a></li>
      <li><a>Մայիս 2019 <span class="badge">2</span></a></li>
      <li><a>Ապրիլ 2019 <span class="badge">4</span></a></li>
    </ul>
  </div>
</div>
