form {
margin-top: 40px;
}
.form-group {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  form {
    .grid {
      margin-top: 0;
    }
    .form-group {
      margin-bottom: 10px;

    }
  }
}
