<p-dialog class="dialog-md"
          [visible]="true"
          [closable]="true"
          [resizable]="false"
          [blockScroll]="true"
          [modal]="true"
          [responsive]="true"
          [maximizable]="false"
          (visibleChange)="close()"
          [dismissableMask]="true">
  <p-header>
    <h5>{{"Client.Title" | translate}}</h5>
  </p-header>
  <p-scrollPanel>

    <p>{{"Client.Content" | translate}}</p>
    <div *ngIf="showData">
      <form [formGroup]="form" method="post" id="contact-form" class="form  contact-validation-active"
            (ngSubmit)="onSubmit()">


        <div class="grid">
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="form-item {{!form.controls['name'].value ? 'p-float-label' : ''}} {{form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched) ? 'invalid' : ''}}">
                <input placeholder=" " class="form-control" type="text" id="clientName" pInputText
                       formControlName="name">
                <label for="clientName">{{'Client.Form.Name' | translate }} *</label>
              </div>
            </div>
          </div>
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="form-item {{!form.controls['email'].value ? 'p-float-label' : ''}} {{form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched) ? 'invalid' : ''}}">
                <input placeholder=" " class="form-control" type="email" id="clientEmail" pInputText
                       formControlName="email">
                <label for="clientEmail">{{'Client.Form.Email' | translate }} *</label>
              </div>
            </div>
          </div>
        </div>


        <div class="grid">
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="form-item {{!form.controls['surName'].value ? 'p-float-label' : ''}} {{form.controls['surName'].invalid && (form.controls['surName'].dirty || form.controls['surName'].touched) ? 'invalid' : ''}}">
                <input placeholder=" " class="form-control" type="text" id="clientSurname" pInputText
                       formControlName="surName">
                <label for="clientSurname">{{'Client.Form.Surname' | translate }} *</label>
              </div>
            </div>
          </div>
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="form-item {{!form.controls['company'].value ? 'p-float-label' : ''}} {{form.controls['company'].invalid && (form.controls['company'].dirty || form.controls['company'].touched) ? 'invalid' : ''}}">
                <input placeholder=" " class="form-control" type="text" id="company" pInputText
                       formControlName="company">
                <label for="company">{{'Client.Form.Company' | translate }} *</label>
              </div>
            </div>
          </div>
        </div>


        <div class="grid">
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="form-item {{!form.controls['phone'].value ? 'p-float-label' : ''}} {{form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched) ? 'invalid' : ''}}">
                <input placeholder=" " class="form-control" type="text" id="clientPhone" pInputText
                       formControlName="phone">
                <label for="clientPhone">{{'Client.Form.Phone_number' | translate }} *</label>
              </div>
            </div>
          </div>
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div
                class="{{!form.controls['country'].value ? 'p-float-label' : ''}}">
                <p-dropdown
                  data-qa-id="ddl_unit_country"
                  #countryDropdown
                  [options]="countriesSelectOption"
                  filter="true"
                  emptyFilterMessage="No results found"
                  filterPlaceholder="Search"
                  [resetFilterOnHide]="true"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="name"
                  formControlName="country"
                  placeholder="{{'Client.Form.Country' | translate }}"
                  [class.active]="form.get('country') && form.get('country').value"
                  id="country">
                  <ng-template pTemplate="selectedItem">
                    <div class="country-item" *ngIf="form.get('country').value">
                  <span
                    [class]="'flag-icon flag-icon-squared flag-icon-' + form.get('country').value.toLowerCase()"></span>
                      <p class="country-name">{{countryDropdown?.selectedOption?.name}}</p>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <span [class]="'flag-icon flag-icon-squared flag-icon-' + country.code.toLowerCase()"></span>
                      <p class="country-name">{{country.name}}</p>
                    </div>
                  </ng-template>
                </p-dropdown>
<!--                <label for="country" *ngIf="form.controls['country'].value">{{'Client.Form.Country' | translate }}-->
<!--                  *</label>-->
              </div>
            </div>
          </div>
        </div>


        <div class="grid">
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <div class="form-item {{!form.controls['subject'].value ? 'p-float-label' : ''}}">
                       <textarea placeholder=" " class="form-control" inputId="message" rows="3" style="resize: none;"
                                 cols="30"
                                 formControlName="subject"
                                 pInputTextarea></textarea>
                <label for="message">{{'Client.Form.Free_text' | translate }}</label>
              </div>
            </div>
          </div>
          <div class=" col-12 md:col-6">
            <div class="form-group">
              <p-multiSelect #multiSelect
                             data-qa-id="ddl_owner_unit"
                             [options]="serviceTypeSelectOptions"
                             optionLabel="name" optionValue="name"
                             [filter]="true"
                             appendTo="body"
                             formControlName="services"
                             placeholder="{{'Client.Form.Services' | translate }}"
                             filterPlaceHolder="Search"
                             [class.active]="form.get('services').value?.length"
                             class="unit-multiselect  {{multiSelect.onfocus ? 'addFocus' : ''}}" id="unitIds">
                <ng-template let-service pTemplate="item">
                  <span class="ellipsis-txt ">{{service.name}}</span>
                </ng-template>
                <ng-template let-value pTemplate="selectedItems">
                  <div class="selected-item" *ngIf="value?.length>1">
                    <p class="ellipsis-txt">{{'Client.Form.Services' | translate}}:
                      <span>{{form.get('services').value[0]}}</span></p>
                    <span class="length-value">{{' +' + (value?.length - 1)}}</span>
                  </div>
                  <div class="selected-item" *ngIf="value?.length===1">
                    <p>{{'Client.Form.Services' | translate}}: <span>{{form.get('services').value[0]}}</span></p>
                  </div>
                  <div class="selected-item" *ngIf="!value?.length">
                    <p>{{'Client.Form.Services' | translate}}</p>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-end m-t-20">
          <button class="button-primary" type="submit"
                  [disabled]="form.invalid">{{"Client.Form.Submit" | translate}}</button>
        </div>


      </form>
    </div>
  </p-scrollPanel>
</p-dialog>

