<section class="page-title">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col col-xs-12">
        <h2>{{"Services.Other_related.Title" | translate}}</h2>
        <ol class="breadcrumb" *ngIf="showHeader">
          <li><a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a></li>
          <li>{{"Services.Other_related.Title" | translate}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="service-single-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 col-md-push-4">
        <div class="service-single-content wow fadeInUp">
          <h3>{{"Services.Other_related.Header1" | translate}}</h3>
          <p>{{"Services.Other_related.Content1" | translate}}</p>
          <p>{{"Services.Other_related.Content2" | translate}}</p>
          <div class="img-holder">
            <img src="/assets/images/service-single/img-1.jpg" alt>
          </div>
          <div class="discussion-faq">
            <div class="discussion wow fadeInUp">
              <h4>{{"Services.Other_related.Header2" | translate}}</h4>
              <p>{{"Services.Other_related.Content21" | translate}}</p>
              <ul>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk1" | translate}}</li>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk2" | translate}}</li>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk3" | translate}}</li>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk4" | translate}}</li>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk5" | translate}}</li>
                <li><i class="fa fa-adjust"></i>{{"Services.Other_related.Risk6" | translate}}</li>
              </ul>
            </div>

            <div class="faq wow fadeInUp">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1"
                       aria-expanded="true">{{"Services.Other_related.Risk_header" | translate}}</a>
                  </div>
                  <div id="collapse-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>{{"Services.Other_related.Risk_content1" | translate}}</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse-2">{{"Services.Other_related.Risk_header" | translate}}</a>
                  </div>
                  <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>{{"Services.Other_related.Risk_content2" | translate}}</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse-3">{{"Services.Other_related.Risk_header" | translate}}</a>
                  </div>
                  <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>{{"Services.Other_related.Risk_content3" | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
