<section class="section-accounting">
  <div class="container">
    <h2>{{"Services.Other_related.Title" | translate}}</h2>
    <ul class="breadcrumb" *ngIf="showHeader">
      <li>
        <a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
      </li>
      <li>{{"Services.Other_related.Title" | translate}}</li>
    </ul>
    <div class="wow fadeInUp">
      <div class="grid align-items-center">
        <div class="col-12 md:col-6 text-right">
          <figure>
            <img src="/assets/images/service/img-4.jpg" alt="Financial and Accounting" >
          </figure>
        </div>
        <div class="col-12 md:col-6 p-l-60">
          <ul class="list-elements wow fadeInUp">
            <li>{{"Services.Other_related.Content1" | translate}}</li>
            <li>{{"Services.Other_related.Content2" | translate}}</li>
            <li>{{"Services.Other_related.Content3" | translate}}</li>
            <li>{{"Services.Other_related.Content4" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
