<div *ngIf="sharedService.showLoader$ | async">
  <p-progressSpinner></p-progressSpinner>
</div>
<div>
  <p-scrollTop [threshold]="200"></p-scrollTop>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <button class="client-btn icon-handshake" type="button" (click)="openPopup($event)" *ngIf="showPopupButton"></button>
  <app-footer></app-footer>
  <p-toast position="top-right" [style]="{marginBottom: '80px'}" [baseZIndex]="5000"></p-toast>
  <app-request *ngIf="showPopup"></app-request>
</div>


