@import 'src/scss/variables';
@import 'src/scss/mixins';
::ng-deep {
  .p-scrolltop {
    width: 30px;
    height: 30px;
    &.p-link {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }

    }
    .p-scrolltop-icon {
      color: $light-color2;
      font-size: 20px;
    }
  }

}

.client-btn {
  position: fixed;
  bottom: 0px;
  top: 0;
  font-size: 25px;
  color: $white;
  margin: auto;
  right: 20px;
  border: 0;
  background: rgb(114 191 68 / 100%);
  width: 50px;
  height: 50px;
  @include border-radius(50%);
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  box-shadow:  (4px 8px 25px rgba(8, 26, 81, 0.07))  !important;
  z-index: 777;
  em {
    font-size: 20px;
  }
}
