<footer>
  <div class="container">
    <div class="grid">
      <div class="col-12 md:col-2">
        <a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}" class="navbar-brand">
          <img src="/assets/images/footer-logo.svg" alt="logo">
        </a>
<!--        <div class="map" id="map" *ngIf="url!='/contacts'">-->
<!--          <app-gmap></app-gmap>-->
<!--        </div>-->
      </div>


      <div class="col-12 lg:col-3 md:col-4" >
       <h4>{{"Header.Questions" | translate}}</h4>
          <ul class="contact-info">
            <li>
              <em class="icon-phone"></em> +374 41 522 010
            </li>
            <li>
              <em class="icon-phone"></em> +374 41 532 010
            </li>
            <li>
              <em class="icon-email"></em>
              <a href="mailto:info@itreports.am">info@itreports.am</a>
            </li>
            <li>
              <em class="icon-home"></em>{{"Footer.Address" | translate}}
            </li>

          </ul>
      </div>
      <div class="col-12 lg:col-2 md:col-3">
        <div class="widget links-widget">
          <h4>{{"Footer.Links" | translate}}</h4>
          <ul class="nav-list">
            <li>
              <a [routerLink]="['/home']"
                   [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
            </li>
            <li>
              <a [routerLink]="['/about-us']"
                   [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.About" | translate}}</a>
            </li>
            <li>
              <a [routerLink]="['/services']"
                   [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Services" | translate}}</a>
            </li>
            <li>
              <a [routerLink]="['/partners']"
                   [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Partners" | translate}}</a>
            </li>
            <li>
              <a [routerLink]="['/contacts']"
                   [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Contacts" | translate}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 md:col-3">
        <h4>            </h4>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/itreports.am" target="_blank"><em
            class="icon-facebook"></em></a></li>
          <li><a href="https://www.linkedin.com/company/it-reports" target="_blank"><em class="icon-linkedin"></em></a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright-info">&copy;  Copyright ITReports LLC, All Rights Reserved 2020</p>
  </div>
</footer>
