@import 'src/scss/variables';
@import 'src/scss/mixins';
.map {
  max-height: 150px;
  ::ng-deep {
    p-gmap {
      >div {
        max-height: 150px;

      }
    }
  }

}
footer {
 padding: 70px 0;
  background-color: #232323;
  color: #fff;
  .grid {
    @include justify-content(center);
    @extend %md-grid;
  }
  h4 {
    color: $white;
    margin-bottom: 40px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      max-height: 100px;
    }
  }
  ul {
    li {
      a {
        color: rgba(255, 255, 255, 0.7);
        padding: 5px 0;
        display: block;
        &:hover {
          color: rgba(255, 255, 255, 1);

        }
      }
    }
    &.nav-list {
      li {
        a {
          @include flexbox;
          @include align-items(center);

          &:before {
            content: "\e90f";
            font-family: 'icomoon';
            margin-right: 15px;
            color: $primary;
            font-size: 9px;
          }
          &:hover {
            &:before {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .social-links {
    @include flexbox;
    li {
      ~ li {
        margin-left: 10px;
      }
      a {
        color: $primary;
        &:hover {
          color: $primary;
          opacity: 0.7;
        }
        em {
          font-size: 37px;
        }
      }
    }

  }
}
.contact-info {
  li {
    @include  flexbox;
    @include  align-items(center);
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 0;
    em {
      color: $primary;
      margin-right: 15px;
    }
  }

}


.copyright-info {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 50px 0;
    .navbar-brand {
      @include justify-content(flex-start);
      margin-bottom: 20px;
    }
    .copyright-info {
      margin-top: 60px;
    }
  }
}
