<div class="bg-img">
  <div class="container">
    <h2>{{"Header.Contacts" | translate}}</h2>
  </div>
</div>
<section>

  <div class="container">
    <div class="grid contact-info">
      <div class="col-12 md:col-3">
        <em class="icon-home icon"></em>
        <h4>{{"Header.Address" | translate}}:</h4>
        <p>{{"Footer.Address" | translate}}</p>
      </div>
      <div class="col-12 md:col-3">
          <em class="icon-phone icon"></em>
          <h4>{{"Header.Phone" | translate}}:</h4>
          <p>+374 41 522 010</p>
          <p> +374 41 532 010</p>
      </div>

      <div class="col-12 md:col-3 ">
          <em class="icon-email icon "></em>
          <h4>{{"Header.EMAIL" | translate}}:</h4>
          <a href="mailto:info@itreports.am">info@itreports.am</a>
      </div>
      <div class="col-12 md:col-3 ">
        <em class="icon-social icon"></em>
        <h4>{{"FollowUs" | translate}}:</h4>
        <ul class="social-links">
          <li>
            <a href="https://www.facebook.com/itreports.am" target="_blank">
              <em class="icon-facebook2"></em>
            </a>
          </li>
          <li>
            <a  href="https://www.linkedin.com/company/it-reports" target="_blank">
              <em class="icon-linkedin1"></em>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="button" (click)="openPopup($event)"
              class="button-primary">{{"Header.Slide.Button2" | translate}}</button>
    </div>
  </div>

  <app-gmap></app-gmap>
</section>


<!--<p-divider layout="vertical"></p-divider>-->

<!--<p-divider layout="vertical"></p-divider>-->
