@import 'src/scss/variables';
@import 'src/scss/mixins';

.contact-info {
  padding-bottom: 100px;

  li {
    padding: 10px 0;
    @include flexbox;
    @include align-items(center);
  }
}

.bg-img {
  background-image: url(/assets/images/bg/contact-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 0;

  h2 {
    color: #fff;
  }

  &:after {
    @extend %layer;
    background: #233e62a1;
  }
}

section {
  padding-bottom: 0;
}


.contact-info {
  text-align: center;
  max-width: 1100px;
  margin: auto;

  a {
    color: $base-color;
  }

  .col-12 {
    border-right: 1px solid $border-color;

    &:last-child {
      border-right: 0;
    }
  }

  h4 {
    margin-bottom: 20px;
  }

  em {
    &.icon {
      font-size: 20px;
      display: block;
      color: $light-color2;
      margin-bottom: 20px;
    }
  }

}

.social-links {
  @include flexbox;
  @include justify-content(center);

  li {
    ~ li {
      margin-left: 10px;
    }

    a {
      color: $light-color2;

      em {
        font-size: 20px;
      }
    }
  }
}

.button-wrapper {
  @include flexbox;
  @include justify-content(center);
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .contact-info .col-12 {
    border-right: 0;
  }
}
