<section>
  <div class="container">
    <div class="wow fadeInUp">
      <h2>{{"Services.HR_management.Title" | translate}}</h2>
      <ul class="breadcrumb" *ngIf="showHeader">
        <li>
          <a [routerLink]="['/home']" [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
        </li>
        <li>{{"Services.HR_management.Title" | translate}}</li>
      </ul>
      <h3>{{"Services.HR_management.Title" | translate}}</h3>
      <p>{{"Services.HR_management.Content1" | translate}}</p>
      <div class="grid align-items-center">
        <div class="col-12 md:col-6">
          <img src="/assets/images/service/img-1.jpg" alt="HR management">
        </div>
        <div class="col-12 md:col-6">
          <ul class="wow fadeInUp list-elements">
            <li>{{"Services.HR_management.Risk1" | translate}}</li>
            <li>{{"Services.HR_management.Risk2" | translate}}</li>
            <li>{{"Services.HR_management.Risk3" | translate}}</li>
            <li>{{"Services.HR_management.Risk4" | translate}}</li>
            <li>{{"Services.HR_management.Risk5" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
