@import 'src/scss/variables';
@import 'src/scss/mixins';

.section-servise {
  .panel {
    background: $primary2;
    padding: 40px;
    height: 100%;
    text-align: center;
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    transition: all 0.3s ease;
    //@include box-shadow(0 19px 38px rgb(0 0 0 / 10%), 0 15px 12px rgb(0 0 0 / 2%));
    &:hover {
      //background-color: #ADCE74;
      background-color:$primary2-hover;
      .read-more {
        background-color: $white;
        color: #ADCE74;
      }
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 50px 0;
      border-color: transparent $white transparent transparent;
    }
    em {
      color: $primary;
      font-size: 30px;
    }
  }

  h6 {
    margin: 20px 0;
    font-size: 15px;
  }

  .read-more {
    margin-top: auto;
    @include align-self(center);
  }

}
