<section class="section-servise">
  <div class="container">
    <h2 class="wow fadeInUp" data-wow-delay="0.1s">{{"Services.Title" | translate}}</h2>
    <div class="grid panel-wrapper  wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="panel">
          <em class="icon-portfolio"></em>
          <h6>{{"Services.Tax_accounting.Title" | translate}}</h6>
          <a [routerLink]="['/services']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more ">{{"Read_More" | translate}}</a>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="panel">
          <em class="icon-legal-services"></em>
          <h6>{{"Services.Legal_Services.Title" | translate}}</h6>
          <a [routerLink]="['/services/legal-services']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="panel">
          <em class="icon-tax"></em>
          <h6>{{"Services.Startup_consulting.Title" | translate}}</h6>
          <a [routerLink]="['/services/startup-consulting']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="panel">
          <em class="icon-business-relocation"></em>
          <h6>{{"Services.Other_related.Title" | translate}}</h6>
          <a [routerLink]="['/services/relocation']" [queryParams]="{lang: translateLanguageService.currentLang}" class="read-more">{{"Read_More" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
