<div class="row blogs">
  <div class="col-sm-12 col-md-5" *ngIf="showArchive">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="content-with-pagination">
      <div class="news-grids row wow fadeInUp" data-wow-delay="0.1"
           [class.newLine]="showArchive">
        <div class="col-sm-12 col-md-6">
          <div class="entry-media">
            <img src="/assets/images/blog-single/img-support_1.png" alt>
          </div>
          <div class="entry-body">
            <div class="entry-header">
              <h3>{{"Blog.Header6" | translate}}</h3>
            </div>
            <div class="entry-details"
                 [class.readMore]="!showArchive"
            >
              <p>{{"Blog.Content6" | translate}}</p>
            </div>
            <div class="entry-meta">
              <a [routerLink]="['/blog/6']" [queryParams]="{lang: translateLanguageService.currentLang}"
                 class="read-more">Կարդալ ավելին</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="entry-media">
            <img src="/assets/images/blog-single/img-5-it_1.png" alt>
          </div>
          <div class="entry-body">
            <div class="entry-header">
              <h3>{{"Blog.Header5" | translate}}</h3>
            </div>
            <div class="entry-details"
                 [class.readMore]="!showArchive"
            >
              <p>{{"Blog.Content5" | translate}}</p>
            </div>
            <div class="entry-meta">
              <a [routerLink]="['/blog/5']" [queryParams]="{lang: translateLanguageService.currentLang}"
                 class="read-more">Կարդալ ավելին</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="entry-media">
            <img src="/assets/images/blog/img-1-penalty.png" alt>
          </div>
          <div class="entry-body">
            <div class="entry-header">
              <h3>{{"Blog.Header4" | translate}}</h3>
            </div>
            <div class="entry-details"
                 [class.readMore]="!showArchive"
            >
              <p>{{"Blog.Content4" | translate}}</p>
            </div>
            <div class="entry-meta">
              <a [routerLink]="['/blog/4']" [queryParams]="{lang: translateLanguageService.currentLang}"
                 class="read-more">Կարդալ ավելին</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="entry-media">
            <img src="/assets/images/blog/img-1-salary.png" alt>
          </div>
          <div class="entry-body">
            <div class="entry-header">
              <h3>{{"Blog.Header3" | translate}}</h3>
            </div>
            <div class="entry-details"
                 [class.readMore]="!showArchive"
            >
              <p>{{"Blog.Content3" | translate}}</p>
            </div>
            <div class="entry-meta">
              <a [routerLink]="['/blog/3']" [queryParams]="{lang: translateLanguageService.currentLang}"
                 class="read-more">Կարդալ ավելին</a>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="pagination-wrapper" *ngIf="showArchive">-->
      <!--        <ul class="pg-pagination">-->
      <!--          <li>-->
      <!--            <a href="#" aria-label="Previous">-->
      <!--              <i class="fa fa-angle-double-left"></i>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li class="active"><a href="#">1</a></li>-->
      <!--          <li><a href="#">2</a></li>-->
      <!--          <li><a href="#">3</a></li>-->
      <!--          <li>-->
      <!--            <a href="#" aria-label="Next">-->
      <!--              <i class="fa fa-angle-double-right"></i>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->
    </div>
  </div>
</div>

