<section class="section-we">
  <div class="container">
    <h2 class="wow fadeInUp">{{"Header.About" | translate}}</h2>
    <ul class="breadcrumb" *ngIf="showHeader">
      <li>
        <a [routerLink]="['/home']"
           [queryParams]="{lang: translateLanguageService.currentLang}">{{"Header.Home" | translate}}</a>
      </li>
      <li>{{"Header.About" | translate}}</li>
    </ul>
    <div class="grid">
      <div class="col-12 md:col-6 wow fadeInUp p-r-60">
        <h3>{{"About.Title" | translate}}</h3>
        <div class="about-details">
          <p>{{"About.Content1" | translate}}</p>
          <p>{{"About.Content2" | translate}}</p>
          <p>{{"About.Content3" | translate}}</p>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="about-img container wow slideInRight">
          <figure class="left">
            <img src="/assets/images/about/img1.jpg" alt="">
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-why" *ngIf="showHeader">
  <div class="bg-img">
    <div class="container">
      <h2>{{"WhyUs.Title" | translate}}</h2>
    </div>
  </div>
  <div class="container">
    <div class="why-wrapper">
      <div class="item">
        <span class="numbe">10+</span>
        <p>{{"WhyUs.Content1" | translate}}</p>
      </div>
      <div class="item">
        <span class="numbe">90+</span>
        <p>{{"WhyUs.Content2" | translate}}</p>
      </div>
      <div class="item">
        <span class="numbe">70+</span>
        <p>{{"WhyUs.Content3" | translate}}</p>
      </div>
      <div class="item">
        <span class="numbe">16+</span>
        <p>{{"WhyUs.Content4" | translate}}</p>
      </div>
    </div>

  </div>
</section>


<section class="section-mission" *ngIf="showHeader">
  <div class="container">
    <ul class="nav-tab">
      <li *ngFor="let navItem of navBarData; let i = index;" (click)="changeContent($event, navItem.index)"
          class="{{selectedItem===i+1 ? 'active' : ''}}">{{navItem.title | translate}}
      </li>
    </ul>
    <div class="grid align-item-center ">
      <div class="col-12 md:col-7 text-right">
        <figure>
          <img [src]="navBarData[selectedItem-1].src" alt="" class="wow fadeInUp">
        </figure>
      </div>
      <div class="col-12 md:col-5  p-l-60">
        <h6 class="title-list-elements">{{(navBarData[selectedItem - 1].contentTitle) | translate}}</h6>
        <ul class="list-elements wow slideInRight">
          <li *ngFor="let item of navBarData[selectedItem-1].content">
            {{item | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-team *ngIf="showHeader"></app-team>
