@import 'src/scss/variables';
@import 'src/scss/mixins';

.section-we {
  overflow: hidden;
}

.about-img {
  img {
    max-height: 420px;
  }
}

.section-why {
  padding: 0;
  .bg-img {
    background-image: url(/assets/images/bg/aaa.jpg);
    padding: 50px 0 85px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: $white;
    z-index: 0;

    h2 {
      margin-bottom: 0;
      color: $white;
    }

    &:after {
      @extend  %layer;
    }
  }

  .why-wrapper {
    @include flexbox;
    background: $white;
    padding: 30px;
    box-shadow: 0px 5px 18px -9px rgb(0 0 0 / 14%);
    max-width: 1110px;
    margin: -50px auto auto auto;
    position: relative;


    .item {
      @include flex-value(1);
      min-width: 0;
      text-align: center;

      span {
        font-size: 32px;
        font-weight: 500;
        position: relative;
        color: $title-color;

        &:after {
          position: absolute;
          bottom: -2px;
          left: 0;
          content: '';
          width: 35px;
          height: 2px;
          background: $primary;
        }
      }

      p {
        margin-top: 15px;
      }
    }
    @media screen and (max-width: 767px) {
      @include flex-direction(column);
      .item {
        text-align: left;
      }
    }
  }

}



figure {
  position: relative;

  &.left {
    &:after {
      left: -60px;
    }
  }
}

