/* ========================= grid========================= */
//@mixin make-row($gutter: $grid-gutter-width) {
//  margin-left: ($gutter / -2);
//  margin-right: ($gutter / -2);
//}
//
//// Generate the columns
//
//@mixin make-column($columns, $gutter: $grid-gutter-width) {
//  //min-height: 1px;
//  padding-left: ($gutter / 2);
//  padding-right: ($gutter / 2);
//  width: percentage(($columns / $grid-columns));
//  padding-top: 0;
//  padding-bottom: 0;
//}
//
//// Generate the lg columns
//@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
//  position: relative;
//  min-height: 1px;
//  padding-left: ($gutter / 2);
//  padding-right: ($gutter / 2);
//  padding-top: 0;
//  padding-bottom: 0;
//  @media (min-width: $screen-lg) {
//    width: percentage(($columns / $grid-columns));
//
//  }
//}
//
//// Generate the md columns
//@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
//  position: relative;
//  min-height: 1px;
//  padding-left: ($gutter / 2);
//  padding-right: ($gutter / 2);
//  padding-top: 0;
//  padding-bottom: 0;
//
//  @media (min-width: $screen-md) {
//    width: percentage(($columns / $grid-columns));
//  }
//}
//
//@mixin make-sm($columns, $gutter: $grid-gutter-width) {
//  position: relative;
//  min-height: 1px;
//  padding-left: ($gutter / 2);
//  padding-right: ($gutter / 2);
//  padding-top: 0;
//  padding-bottom: 0;
//
//  @media (min-width: 992px) {
//    width: percentage(($columns / $grid-columns));
//  }
//}

/* ========================= end of grid========================= */

/* =========================flex======================== */
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* =========================Alignment======================== */
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

/* =========================flex value======================== */
@mixin flex-value($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

/* ========================= flex firedction========================= */
@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

/* ========================= Alignment flex items========================= */

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

/* ========================= Alignment containers========================= */

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

/* ========================= Border radius ========================= */
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

/* =========================wrap======================== */
@mixin flex-wrap($value: wrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: $value;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

/* ========================= justify-content========================= */
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    //} @else if $value == space-around {
    //  -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

/* ========================order========================= */
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

/* ========================grow========================= */
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

/* ========================placeholder========================= */
@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

/* ========================transform========================= */
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale($val) {
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -o-transform: scale($val);
  -ms-transform: scale($val);
  transform: scale($val);
}

@mixin scale2($deg1, $deg2) {
  -webkit-transform: scale($deg1, $deg2);
  -moz-transform: scale($deg1, $deg2);
  -o-transform: scale($deg1, $deg2);
  -ms-transform: scale($deg1, $deg2);
  transform: scale($deg1, $deg2);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

/* ========================box-shadow========================= */
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

/* ========================center========================= */
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

/* ========================= BUTTON ========================= */
@mixin btn($border: 1px solid, $font-weight: 500,$border-radius: 6px, $btn-text-color: $white, $btn-bg: $primary, $padding1: 10px, $padding2: 20px,  $base-fontsize: 16px, $min-width: 95px ) {
  @include border-radius($border-radius);
  text-align: center;
  color: $btn-text-color;
  //text-transform: $text-transform;
  padding: $padding1 $padding2;
  background: $btn-bg;
  font-size: $base-fontsize;
  font-weight: $font-weight;
  cursor: pointer;
  border: $border;
  min-width: $min-width;
  @include transition(all .15s ease-in-out);
  em {
    margin-right: 5px;
    color: $primary;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop;

    &:hover {
      text-decoration: none;
    }
  }


}

/*path  images*/
@mixin bgimage($folderName, $name, $extension) {
  $url: "/assets/images/#{$folderName}/#{$name}.#{$extension}";
  background: url($url) no-repeat;
}

/* ========================= END OF BUTTON ========================= */
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  //@-ms-keyframes #{$animation-name} {
  //    @content;
  //}
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin hyphens {
  -webkit-hyphens: inherit;
  -moz-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: inherit;
}


@mixin gradient($deg, $color1, $color2) {
  background: -moz-linear-gradient($deg, $color1 0%, $color2 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $color1), color-stop(100%, $color2));
  /* safari4+,chrome */
  background: -webkit-linear-gradient($deg, $color1 0%, $color2 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient($deg, $color1 0%, $color2 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient($deg, $color1 0%, $color2 100%);
  /* ie10+ */
  background: linear-gradient($deg, $color1 0%, $color2 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}', GradientType=1);
  /* ie6-9 */
}

@mixin anim($val) {
  -webkit-animation: spinner $val infinite linear;
  -moz-animation: spinner $val infinite linear;
  -ms-animation: spinner 1 $val infinite linear;
  -o-animation: spinner $val infinite linear;
  animation: spinner $val infinite linear;
}


%centered {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

%ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// skew
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin translateX($x) {
  @include transform(translateX($x));
}

@mixin translateY($y) {
  @include transform(translateY($y));
}

// translate and scale
@mixin translateAndScale($tx, $ty, $sx, $sy) {
  @include transform(translate($tx, $ty));
  @include transform(scale($sx, $sy));
}


%bg-layer {
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}
%layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: .8;
  background: #233e62;
}
%lg-grid {
  margin-left: -20px;
  margin-right: -20px;
  [class^="col-"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
%md-grid {
  margin-left: -15px;
  margin-right: -15px;
  [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}
