$base-color:  #717171;
$title-color: #3F3F3F;
$primary: #72bf44;
$primary2: #f0f9fd;
$primary2-hover: #d0e7f1;
$border-color: #ced4da;
$white: #fff;
$bg-color1: #151515;
$placeholder-color: rgb(112 112 112 / 47%);
$danger-color: #FF3838;
$light-color: #cccccc;
$light-color2: #808080;
$section-lg-padding: 70px;
$section-sm-padding: 35px;
//gray
//#133c4c



$primary-hover: #0b5ec9;
//$primary2: #00c90b;
$primary2-op1: rgba(0, 201, 11, 0.1);


//$light-color2: #D8DBEF;
$light-color2-op5: rgba(216, 219, 239, 0.5);


$danger-color-hover:#c60815;
$bg-secondary: rgb(134 149 154 / 15%);

$base-op7: rgba(8, 26, 81, 0.7);
$base-op5: rgba(8, 26, 81, 0.5);
$base-op6: rgba(8, 26, 81, 0.6);
$base-op3: rgba(8, 26, 81, 0.3);
$form-bg: #fff;
$bg-color: #F7FBFF;
$checkbox: #EDEFFB;


$box-shadow: (4px 8px 25px rgba(8, 26, 81, 0.07));

$width-left-bar: 240px;


$xsfontSize: 12px;
$smfontSize: 16px;
$form-text-size: 15px;
$base-fontsize: 14px;
//$base-fontsize: 16px;

$lgFontSize: 18px;



$xlFontSize: 22px;
$xllFontSize: 24px;

$font-family:  'Roboto', sans-serif;

// Small screen / tablet
//**`$screen-sm`
$screen-sm:                  992px !default;

// Medium screen / desktop
$screen-md:                  1200px !default;

// Large screen / wide desktop
//** `$screen-lg` as of v3.0.1
$screen-lg:                  1600px !default;

// $screen-extra-lg:     1600px;

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;

$grid-gutter-sm-width:         5px !default;
$grid-gutter-md-width:         15px !default;
$grid-gutter-lg-width:         20px !default;
$grid-gutter-xl-width:         30px !default;



:root {
    --width-left-navbar: 210px;
  }
