@import 'src/scss/variables';
@import 'src/scss/mixins';

.section-our-team {
  .grid {
    margin-top: 50px;
    @extend %md-grid;
  }

  p-card {
    ::ng-deep {
      .p-card {
        position: relative;
        color: $base-color;
        @include box-shadow(unset);
        background-color: transparent;
        @include border-radius(0);

        .p-card-content {
          padding: 0;
        }

        .p-card-body {
          padding: 0;

          .p-card-content {
            figure {
              max-height: 255px;
              overflow: hidden;
              z-index: 0;

              &:before {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                content: "";
                z-index: 1;
                opacity: 0.8;
                background: #233e6280;
              }
            }
          }

          &:hover {
            .p-card-content {
              figure {
                &:before {
                  display: block;
                }
              }
            }
          }
        }
      }
    }


    .card-bottom {
      bottom: 0;
      width: 100%;
      padding: 15px;
      color: $light-color2;

      h6 {
        margin-bottom: 10px;
      }

      span {
        text-transform: uppercase;
        font-size: $xsfontSize;
      }
    }
  }

}
@media screen and (max-width: 767px) {
  .section-our-team {
    padding-top: 15px;
    ::ng-deep  {
      p-card .p-card.p-component .p-card-body .p-card-content figure {
        max-height: 550px;
      }
    }
  }

}
