<section class="section-our-team">
  <div class="container">
    <h2>{{"Header.Team" | translate}}</h2>
    <p class="text-center">{{"Team.Title1" | translate}}</p>
    <p class="text-center">{{"Team.Title2" | translate}}</p>
      <div class="grid">
        <div *ngFor="let member of teamMembersData" class="col-12 lg:col-3 md:col-4 wow fadeInUp">
          <p-card>
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template pTemplate="content">
              <figure>
                <img [src]="member.src" alt="">
              </figure>
              <div class="card-bottom">
                <h6>{{member.headerTitle | translate}}</h6>
                <span>{{member.description | translate}}</span>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>

  </div>
</section>
